<!-- app.component.html -->
<!-- Este é o template principal da aplicação.
     Ele serve como "esqueleto base", onde colocamos o cabeçalho fixo, o rodapé e o conteúdo das páginas. -->

<!-- Componente de cabeçalho reutilizável -->
<app-header></app-header>

<!-- Container central onde o conteúdo das rotas será carregado dinamicamente -->
<div class="container my-4">
  <!-- router-outlet é o ponto de injeção onde os componentes definidos nas rotas aparecem -->
  <router-outlet></router-outlet>
</div>

<!-- Componente de rodapé reutilizável -->
<app-footer></app-footer>
